
<h2 class="text-center">Sign up</h2>

<div class="row py-2">
 <div class= "col-lg-4 mx-auto">
 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field mt-3">
    <%= f.label :name do %>
    Name <span class="required" style="color:red;">*</span>
    <% end %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :required =>true, class:"form-control py-2"  %>
  </div>

   <div class="field mt-3">
    <%= f.label :phone_number do %>
     Phone number<span class="required" style="color:red;">*</span>
    <% end %><br />
    <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", :required =>true, class:"form-control py-2"  %>
  </div>

  <div class="field mt-3">
    <%= f.label :email do %>
      Email<span class="required" style="color:red;">*</span>
    <% end %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :required =>true, class:"form-control py-2"  %>
  </div>

  <div class="field mt-3">
    <%= f.label :password do %>
      Password<span class="required" style="color:red;">*</span>
    <% end %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :required =>true, class:"form-control py-2"  %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation do  %>
      Password Confirmation<span class="required" style="color:red;">*</span>
    <% end %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :required =>true, class:"form-control py-2"  %>
  </div>

  <div class="actions mt-4 mb-5">
    <%= f.submit "Sign up", data: {turbo:false}, class:"form-control py-2 btn btn-dark fw-bold shadow" %>
  </div>
<% end %>

<%= render "devise/shared/links"%>


