<h2 class="text-center">Admin authentication</h2>

<div class="row py-5">
 <div class= "col-lg-4 mx-auto">
  <%= form_with url: super_admin_validate_path, method: :post do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , :required =>true, class:"form-control py-2" %>
    </div>

    <div class="field mt-3">
      <%= f.label :super_admin_code %><br />
      <%= f.password_field :super_admin_code, :required =>true, class:"form-control py-2"  %>
    </div>


    <div class="actions mt-4 mb-5">
      <%= f.submit "Verify", class:"form-control py-2 btn btn-dark fw-bold shadow" %>
    </div>
  <% end %>