
<h1>Product List</h1>
<table>
  <tr>
    <th>Product Code</th>              <-- Each of these
    <th>Product</th>                      is a column header
    <th>Price </th>
    <th>Rating</th>
    <th>Discount</th>
  </tr>
 <% @products.each do |product| %>
  <tr>
    <td><%= product.code%></td>
    <td><%= product.product_name%></td>         <-- Each of these adds
    <td><%=product.price %></td><td>     data to the corresponding
    <td><%=product.rating %></td>      column in the same row
    <td><%=product.discount %></td>   
  </tr>
  <% end %>
 </table>