  <div class="tothecenter">
  <%= render @store %>

  <% if current_user.super_admin? || current_user.store_admin?%> 
  <div>
    <%= link_to "Edit this store", edit_store_path(@store) %> |
    <%= link_to "Back to stores", stores_path %><br>
    <br>
    <%= button_to "Destroy this store", @store, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </div>
  <% end %>

<br>
  <% if current_user.store_admin? || current_user.super_admin? || current_user.staff? %>
    <%= link_to "Add products to this store" ,new_store_product_path(@store)%>
  <% end %>
<br>

<div class="row" style="margin-bottom:80px;">
  <% @products.each do |product|%>
    <%= render "products/product", product: product %>
      <!-- <div class="col-md-4" onclick="show(this)">

        <div class="product-box" id="product-box">
            <%=image_tag product.image.url, class:"product-index" if product.image?%>
              <ul>
                    <strong class="product-name"><%= product.product_name%></strong><br>by <strong><%= product.store.store_name%></strong><br>
                        Rs.<%= product.price%><br>
                        <span>&#11088;</span><%= product.rating%><br>
                    
                        <%= link_to "", product_path(code: product.code)%>
                        <%= button_to "Add to cart", add_to_cart_path(:product_id => product.id), class: "btn btn-success" %>
              </ul>
        </div>
      </div> -->
  <%end%>
</div>

<%= javascript_include_tag "show"%>




</div>

<style>
  .tothecenter{
  align-content: center;
  position:relative;
  top:175px;
  /* top:50px; */
  display:block;
/* margin:auto; */
text-align: center;
/* margin-top: 250px; */
}
</style>
