<h1>Stores</h1>
<table class="table">
  <thead>
    <tr>
      <th>Store name</th>
      <th>Description</th>
      <th>Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.store_name %></td>
        <td><%= store.description %></td>
        
        <td style="display:flex; flex-direction:row;">
          <%= link_to "Show", store, class: "btn btn-success" %>
          <%= link_to "Edit", store, class: "btn btn-primary" %>
          <%= link_to "Delete", store, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
