<div class="result">
<div><h1>Stores</h1></div>
  <div>
    <% if current_user.super_admin? %>
      <%= link_to "Create Stores",new_admin_store_path, class:"btn btn-dark"%>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Store name</th>
      <th>Description</th>
      <th>Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.store_name %></td>
        <td><%= store.description %></td>
        
        <td style="display:flex; flex-direction:row;">
          <%= link_to "Show", admin_store_path(store.id), class: "btn btn-success" %>
          <%= link_to "Edit", edit_admin_store_path(store.id), class: "btn btn-primary" %>
          <%= link_to "Delete", admin_store_path(store.id), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


