<% if @cart.line_items%>  
  <ul>
    <% @cart.line_items.each do |item| %>
        <li><%= item.quantity %>&times;
        <%= item.product.product_name %></li>
        <strong><li><%= item.product.code  %></li></strong>
    <% end %>
  </ul>
  <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to "Back to shopping", all_products_path %>

