<% if @cart.line_items.present?%>
  <ul>
      <div class="container">
        <div class="row">
          <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Quantity</th>
                <th scope="col">Product</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Line Total </th>
                <th scope="col">  </th>
              </tr>
            </thead>
            <tbody>
              <% @cart.line_items.each do |item| %>
                <tr>
                  <td><%= image_tag item.product.image.url, class: "cart-product" %><br>
                      <% unless item.product.rating %>
                        <%= render plain: "-Be the first to review-" %>
                      <% else %>
                        <span>&#11088;</span><%=item.product.rating %>
                      <% end %>
                    </td>
                    <td>
                      <%= button_tag "-", type: 'button', onclick: "decrement(this, #{item.id})", class: 'btn btn-default'%>
                      <%= number_field_tag "line_quantity_#{item.id}", item.quantity, {style: "width:40px", onblur: "set_quantity(this, #{item.id})"}%>
                      <%= button_tag "+", type: 'button', onclick: "increment(this, #{item.id})", class: 'btn btn-default'%><br>
                    </td>
                  <td><%= item.product.product_name %></td>
                  <td>Rs.<%= item.product.price  %></td>
                  <td><strong>Rs.<%= item.total_price %></strong><br>
                   <%= content_tag :p, item.price * item.quantity, style: "text-decoration: line-through;color: gray;" %></td>
                  <td>
                    <%= button_to "Remove", remove_from_cart_path(item.id), method: :delete %>
                    <%= button_to "Update", update_cart_path(item.id), method: :patch, :id => "update_#{item.id}", params: { "quantity": item.quantity }%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>  
          </div>
        </div>
      </div>
  </ul>
  <div style="display:flex; flex-direction:row;  justify-content: space-between">
    <div><%= link_to "Continue Shopping", all_products_path, class:"btn btn-success" %></div>
    <div style="display:flex; flex-direction:row; align-items:center">
      <strong class="mr-10">Total:  Rs.<%=@order.total_price  %> </strong>
      <%= link_to 'Clear Cart', empty_cart_path, class: "btn btn-success mr-30" %>
      <%# <a><%= button_to "Update Cart", add_to_cart_path, method: :post, class: "btn btn-success mr-30" %>
    </div>
  </div>
  <div class="total-price mt-20">
    <%= link_to "Checkout", checkout_path, class: "btn btn-success" %>
  </div>
  <br><br><br><br>

<% else %>  
  <%= render plain: "Your cart is empty "%><%= link_to "Continue Shopping", all_products_path , class: "btn btn-success"%><br>
<% end %>

<script>
  function increment(ele, id) {
    quantity = ele.previousElementSibling;
    quantity.stepUp();
    update = document.getElementById("update_" + id);
    update.parentElement.lastChild.value = quantity.value;
  }

  function decrement(ele, id) {
    // debugger;
    var quantity = ele.nextElementSibling;
    if (quantity.value > 1) {
      quantity.stepDown();
    }
    update = document.getElementById("update_" + id);
    update.parentElement.lastChild.value = quantity.value;
  }

  function set_quantity(ele, id) {
    // debugger;
    update = document.getElementById("update_" + id);
    update.parentElement.lastChild.value = ele.value;
  }
</script>

