<h2 class="text-center">Address</h2>

<div class="row py-2">
 <div class= "col-lg-4 mx-auto">
    <%= form_with url: user_addresses_path do |f|%>
    
     <% if @address.errors.any? %>
        <div style="color: red">
          <h4><%= pluralize(@address.errors.count, "error") %></h4>
          <ul>
            <% @address.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.label :house_or_apartment do %>
        House/Apartment:<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= f.text_field :house, class:"form-control py-2" , :required=> true %><br>
        
        <%= f.label :area do %>
        Area<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= f.text_field :area, class:"form-control py-2",:required=> true %><br>

        <%= f.label :city do %>
        City<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= f.text_field :city, class:"form-control py-2",:required=> true %><br>

        <%= f.label :zipcode do %>
        Zipcode<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= f.text_field :zipcode, class:"form-control py-20",:required=> true %><br>

        <%= f.label :country do %>
        Country<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= f.text_field :country, class:"form-control py-2",:required=> true %><br>

        <%= f.label :address_type do %>
        Address type<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= f.select :address_type, ["Default","Residential", "Commercial"],:required=> true %><br><br>
        <%= f.hidden_field :back, {value: @back}%>

        <%= f.submit "Save", data: {turbo:false}, class:"form-control py-2 btn btn-dark fw-bold shadow"%>
    <% end %>
 </div>
</div>

