<div class="result">
<div><h1>Categories</h1></div>
<div><%= link_to "Create Categories",new_admin_category_path, class:"btn btn-dark"%></div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Category name</th>
      <th>Description</th>
      <th>Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_name %></td>
        <td><%= category.description %></td>
        <td style="display:flex; flex-direction:row;">
          <%= link_to "Show",  admin_category_path(category_name: category.category_name), class: "btn btn-success" %>
          <%= link_to "Edit", edit_admin_category_path(category_name: category.category_name), class: "btn btn-primary" %>
          <%= link_to "Delete",admin_category_path(category_name: category.category_name), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
