
<h2 class=text-center>Edit product details</h2>
<div class="row py-2">
 <div class= "col-lg-4 mx-auto">
    <%= form_with url: admin_product_path(code: @product.code), method: :patch do |form| %>
      <% if @product.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    
      <div class="field mt-3">
        <%= form.label :product_name, style: "display: block" %>
        <%= form.text_field :product_name ,value: @product.product_name,autofocus: true, autocomplete: "product_name", :required =>true, class:"form-control py-2"  %>
      </div>
 
      <div class="field mt-3">
        <%= form.label :description, style: "display: block" %>
        <%= form.text_area :description,value: @product.description, autofocus: true, autocomplete: "description", :required =>true, class:"form-control py-2"  %>
      </div>

      <div class="field mt-3">
        <%= form.label :price, style: "display: block" %>
        <%= form.number_field :price ,value: @product.price, autofocus: true, autocomplete: "price", :required =>true, class:"form-control py-2" %>
      </div>

      <div class="field mt-3">
        <%= form.label :category, style: "display: block"  %>
        <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "category_name", :selected => @product.category_id), autofocus: true, autocomplete: "category", :required =>true, class:"form-control py-2"  %>
      </div>
      <div class="field mt-3">
        <%= form.label :store, style: "display: block"  %>
        <%= select_tag "store_id", options_from_collection_for_select(Store.all, "id", "store_name", :selected => @product.store_id), autofocus: true, autocomplete: "store", :required =>true, class:"form-control py-2"  %>
      </div>

      <div class="field mt-3">
        <%= form.label :code, style: "display:block"%>
        <%= form.number_field :code,value: @product.code, autofocus: true, autocomplete: "code", :required =>true, class:"form-control py-2"  %>
      </div>

      <div class="field mt-3">
        <%= form.label :discount, style: "display: block" %>
        <%= form.number_field :discount,value: @product.discount, autofocus: true, autocomplete: "discount", :required =>true, class:"form-control py-2"  %>
      </div>

      <div class="field mt-3">
        <%= form.label :visibility, style: "display: block" %>
        <%= form.check_box :visibility, checked: @product.visibility %>
      </div>
    
      <div class="field mt-3">
        <%= form.label :image, style: "display: block" %>
        <%= form.file_field :image,value: @product.image, autofocus: true, class:"form-control py-2"  %>
        <!--
        <% if @product.image %>
          <%= form.check_box :remove_image%>
        Remove image
        <%end%>
        -->
      </div>

      <% if @product.image.present?%>
        <div>
          <%= image_tag @product.image.url ,style:"height:190px; width:150px;" %>
        </div>
      <% end %>
  
      <div class="actions mt-4 mb-5" >
        <%= form.submit "Update", data: {turbo:false}, class:"form-control py-2 btn btn-dark fw-bold shadow"%>
      </div>
    <% end %>
</div>

<div>
  <%= link_to "Back to products", admin_products_path %>
</div>