<h1 class="text-center">New Product</h1>
<div class="text-center">
  <%= link_to "Back to products", admin_products_path %>
</div>
<div class="row py-2">
 <div class= "col-lg-4 mx-auto">
    <%= form_with url: admin_products_path do |form| %>
      <% if @product.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    
      <div class="field mt-3">
        <%= form.label :product_name do %>
        Product name<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= form.text_field :product_name , autofocus: true, autocomplete: "product_name", :required =>true, class:"form-control py-2"  %>
      </div>
 
      <div class="field mt-3">
        <%= form.label :description %>
        <%= form.text_area :description, autofocus: true, autocomplete: "description", :required =>true, class:"form-control py-2"  %>
      </div>

      <div class="field mt-3">
        <%= form.label :price do %>
          Price <span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= form.number_field :price , autofocus: true, autocomplete: "price", :required =>true, class:"form-control py-2" %>
      </div>

      <div class="field mt-3">
        <%= form.label :category do  %>
        Category<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "category_name"), autofocus: true, autocomplete: "category", :required =>true, class:"form-control py-2"  %>
      </div>

      <div class="field mt-3">
        <%= form.label :store do %>
        Store<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= select_tag "store_id", options_from_collection_for_select(@stores || Store.all, "id", "store_name"), autofocus: true, autocomplete: "store", :required =>true, class:"form-control py-2"  %>
      </div>

      <div class="field mt-3">
        <%= form.label :code do%>
        Product Code<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= form.number_field :code, autofocus: true, autocomplete: "code", :required =>true, class:"form-control py-2"  %>
      </div>

      <div class="field mt-3">
        <%= form.label :discount %>
        <%= form.number_field :discount, autofocus: true, autocomplete: "discount", class:"form-control py-2"  %>
      </div>
    
      <div class="field mt-3">
        <%= form.label :image do%>
        Image<span class="required" style="color:red;">*</span>
        <% end %><br />
        <%= form.file_field :image, autofocus: true, :required =>true, class:"form-control py-2"  %>
   
      </div>
  
      <div class="actions mt-4 mb-5" >
        <%= form.submit "Create", data: {turbo:false}, class:"form-control py-2 btn btn-dark fw-bold shadow"%>
      </div>
    <% end %>
</div>
</div>
</div>
