
<h2 class="text-center">Edit Store Admin/Staff</h2>

<div class="row py-2">
 <div class= "col-lg-4 mx-auto">
 
<%= form_with url: admin_user_path(@user), method: :patch do |f| %>

   <div class="field mt-3">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true,value: @user.name, autocomplete: "name", :required =>true, class:"form-control py-2"  %>
  </div>

  <div class="field mt-3">
    <%= f.label :assign_role %><br />
    <%= f.select :role, [['Admin', 'super_admin'], ['Store Admin', 'store_admin'], ['Staff','staff'], ['User', "user"]], autofocus: true,selected: @user.role, autocomplete: "role", :required =>true, class:"form-control py-2"%>    
    <div id="store-name-field"style="display:none;">
      <%= f.label :store %>
      <%= select_tag :store_id, options_from_collection_for_select(Store.all, "id", "store_name"), autofocus: true, :required =>true, class:"form-control py-2"%>
    </div>
  </div>

  <div class="field mt-3">
    <%= f.label :email do %>
      Email
    <% end %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",value: @user.email, :disabled => true, class:"form-control py-2"  %>
  </div>

  <!-- <div class="field mt-3">
    <%= f.label :password do %>
      Password<span class="required" style="color:red;">*</span>
    <% end %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :required =>true, class:"form-control py-2"  %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation do  %>
      Password Confirmation<span class="required" style="color:red;">*</span>
    <% end %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :required =>true, class:"form-control py-2"  %>
  </div> -->

  <div class="actions mt-4 mb-5">
    <%= f.submit "Update", data: {turbo:false}, class:"form-control py-2 btn btn-dark fw-bold shadow" %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var roleField = document.getElementById("role");
    var storeNameField = document.getElementById("store-name-field");
    
    roleField.addEventListener("change", function() {
      if (roleField.value === "store_admin") {
        storeNameField.style.display = "block";
      } else {
        storeNameField.style.display = "none";
      }
    });
  });
</script>


