<br><br>

<div id="design-outline">

<div class="apple_pagination">

  
    <%= page_entries_info @products %>
  
  
    <%= will_paginate @products, :container => false %><br>

    <%= form_with url: all_products_path , method: :get do |form| %>
      <%= form.number_field :per_page %>
      <%= form.submit %>
    <% end %> 
</div>

<div class="pagenum1">
  <%= form_with url: all_products_path , method: :get do |form| %>
    <%= form.label :sort_by %>
    <%= form.select :sort_price, ["Relevance","Price - low to high","Price - high to low", "Highest rating"] %>
    <%= form.submit %>
  <% end %><br>


</div>

<div>
<%= form_with url: all_products_path, method: :get do |form|%>
   <span id="checkbox"> <% Product::CATEGORIES.each do |key|%>
             <%= form.check_box :categories, {multiple: true}, key, nil%>
             <%= form.label key%>
    <%end%></span>
    <%= form.submit "Filter by"%>
<% end %>
</div>

</div>
 
<div class="row">
  <% @products.each do |product|%>
      <div class="col-md-4" onclick="show(this)">

        <div class="product-box" id="product-box">
            <%=image_tag product.image.url, class:"product-index" if product.image?%>
              <ul>
                    <strong class="product-name"><%= product.product_name%></strong><br>by <strong><%= product.store.store_name%></strong><br>
                        Rs.<%= product.price%><br>
                        <span>&#11088;</span><%= product.rating%><br>
                    
                        <%= link_to "", product_path(code: product.code)%>
                    
              </ul>
        </div>
      </div>
  <%end%>
</div>

<%= javascript_include_tag "show"%>
<%= javascript_include_tag "Changefun"%>

 