<div id="design-outline">
  <%= form_with url: all_products_path ,id: 'pages_filter' ,class: 'filter d-flex', method: :get, remote: true do |form| %>
      
    <%= form.select :per_page,[1,2,3,4,5,10,20,30], {:prompt => true, :selected => @per_page || 10}, {class: 'form-control py-1 m-20', style: "width:50px;"}  %><br><br>

    <%= form.label :sort_by %>
    <%= form.select :sort_price,["Relevance","Price - low to high","Price - high to low", "Highest rating"], {:prompt => true, :selected => @sort_price || "Relevance"}, {class: 'form-control py-1 m-20', style: "width:200px;"} %>

    <%= form.label :categories %>
    <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "category_name", :selected => @category_id), include_blank: "All", class: 'form-control py-1 m-20', style: "width:200px;"%>
    <%= form.submit "Filter"%>
  <% end %>
  <div class="apple_pagination" >
    <%= page_entries_info @products %><br>
    <%= will_paginate @products, :container => false %>
  </div>
</div>
 
<div class="row" style="margin-bottom:60px;">
  <% @products.each do |product|%>
      <%= render "product", product: product %>
  <%end%>
</div>

<%= javascript_include_tag "show"%>
<%= javascript_include_tag "Changefun"%>

<script>
function handleChange(filter){
  console.log(filter)
  $(document).ready(function(){
    var review = $('#review');
    var form = $(`#${filter}`);
    console.log(form)
    var actionUrl = form.attr('action');
    console.log(actionUrl)
    $.ajax({
      url: `${actionUrl}.json`,
        type: 'GET',
        data: form.serialize()
      })
    .done( function(data){
      console.log(data)
      })
      .fail( function(error){
        alert("somthing went wrong! try again");
        });
    });
}
</script>

