<br><br>

<div id="design-outline">

<div class="apple_pagination" >
    <%= page_entries_info @products %><br>
    <%= will_paginate @products, :container => false %>

    <%= form_with url: all_products_path , method: :get do |form| %>
      <%= form.select :per_page,[1,2,3,4,5,10,20,30],{}, {class: 'form-control'} %>
      <%= form.submit %>
    <% end %> 
</div>

<div class="pagenum1">
  <%= form_with url: all_products_path , method: :get, remote: true, id: 'sort-form' do |form| %>
    <%= form.label :sort_by %>
    <%= form.select :sort_price, ["Relevance","Price - low to high","Price - high to low", "Highest rating"],{}, {class: 'form-control'} %>
  <% end %><br>


</div>

<div>
<%= form_with url: all_products_path, method: :get do |form|%>
   <span id="checkbox"> <% Product::CATEGORIES.each do |key|%>
             <%= form.check_box :categories, {multiple: true}, key, nil%>
             <%= form.label key%>
    <%end%></span>
    <%= form.submit "Filter by"%>
<% end %>
</div>

</div>
 
<div class="row" style="margin-bottom:80px;">
  <% @products.each do |product|%>
      <div class="col-md-4" onclick="show(this)">

        <div class="product-box" id="product-box">
            <%=image_tag product.image.url, class:"product-index" if product.image?%>
              <ul>
                    <strong class="product-name"><%= product.product_name%></strong><br>by <strong><%= product.store.store_name%></strong><br>
                        Rs.<%= product.price%><br>
                        <span>&#11088;</span><%= product.rating%><br>
                    
                        <%= link_to "", product_path(code: product.code)%>
                        <%= button_to "Add to cart", line_items_path(:product_id => product.id), class: "btn btn-success" %>
              </ul>
        </div>
      </div>
  <%end%>
</div>

<%= javascript_include_tag "show"%>
<%= javascript_include_tag "Changefun"%>

 <script>
$(document).on('turbolinks:load', function() {
  $('#sort-form select').on('change', function() {
    Rails.fire($('#sort-form')[0], 'submit');
  });
});
</script>