<div class="text-center">
<h1>Products</h1><%= link_to "Add products to this store" ,new_store_product_path(@store)%>
</div>


  <div class="row">
    <% @products.each do |product|%>
        <div class="col-md-4">

          <div class="product-box">
              <%=image_tag product.image.url, class:"product-index" if product.image?%>
                <ul>
                      <strong><%= product.product_name%></strong><br>by <strong><%= product.store.store_name%></strong><br>
                      Rs.<%= product.price%><br>
                      <%= product.description%><br>
                      
                      <%= link_to "Show", store_product_path(id: product.id)%> |
                      
                      <%=link_to "Edit", edit_store_product_path(id: @store.id)%> |
                      <%= link_to "Destroy", product, method: :delete, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%></li>
                </ul>
          </div>

          
        </div>
    <%end%>
  </div>





