<div class="text-center">
  <h1>Products</h1><%= link_to "Add products to this store" ,new_product_path %>
</div>

<br><br>  
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  
    <%= will_paginate @products, :container => false %><br>

    <%= form_with url: all_products_path , method: :get do |form| %>
      <%= form.number_field :per_page %>
      <%= form.submit %>
    <% end %> 
</div><br>

<div class="pagenum">
  <%= form_with url: all_products_path , method: :get do |form| %>
    <%= form.label :sort_by %>
    <%= form.select :sort_price, ["Relevance","Price - low to high","Price - high to low"]%>
    <%= form.submit %>
  <% end %>
</div><br>

  <div class="row">
    <% @products.each do |product|%>
        <div class="col-md-4" onclick="show(this)">

          <div class="product-box">
              <%=image_tag product.image.url, class:"product-index" if product.image?%>
                <ul>
                      <strong><%= product.product_name%></strong><br>by <strong><%= product.store.store_name%></strong><br>
                      Rs.<%= product.price%><br>
                      <span>&#11088;</span><%= product.rating%><br>
                      
                      | <%= link_to "", product_path(code: product.code)%> |
                      
                   </li>
                </ul>
          </div>

          
        </div>
    <%end%>
  </div>

<%= javascript_include_tag "show"%>



