<div class="mybox">
      <div class="leftx">
        <% if @product.image?%>
          <%= image_tag @product.image.url, class:"product-show"%>
          <%else %>
          <%= render plain: "OK" %>
        <% end %><br>
      </div>


      <div class="rightx" >
        <ul>
          <strong><%= @product.product_name%></strong><br>by <strong><%= @product.store.store_name%></strong><br>
          <% if @product.discounted_price%>
            <%= content_tag :p, @product.price, style: "text-decoration: line-through;color: gray; margin-bottom: 0px" %>
            <strong>Rs.<%= @product.discounted_price%></strong><br>
          <% else %>
            <strong>Rs.<%= @product.price%></strong><br>
          <% end%>
          <strong>Description:</strong> <%= @product.description%><br>
          <strong><%= @product.category.category_name%>'s Category</strong><br>
          <span>&#11088;</span><%= @product.rating%>
        </ul>

        <div class="btn-group mr-2" role="group" >
          <%= form_with url: add_to_cart_path, method: :post do |form|%>
            <%= form.hidden_field :product_id, value: @product.id %>
            <%= button_tag "-", type: 'button', onclick: "decrement()", class: 'btn btn-default'%>
            <%= form.number_field :quantity, min: 0, max: 10, value:1 %>
            <%= button_tag "+", type: 'button', onclick: "increment()", class: 'btn btn-default'%><br>
            <%= form.submit 'Add to Cart', class: "btn btn-success" %>
          <% end %>
        </div> 
        <div class="review-box" style="margin-bottom: 100px">
          <h3>Reviews</h3>
          <% @product.reviews.each do |review| %>
            <strong>Rating:</strong><%= review.rating %><span>&#11088;</span><br>
            <strong></strong><%= review.comment %>
            by<strong><%= review.user.name %></strong><br>
          <% end %>
          <%= link_to "Write my review", new_product_review_path(product_code: @product.code)%>
        </div>



      </div>
</div>

<script>
function increment() {
  // debugger;
  document.getElementById('quantity').stepUp();
}
function decrement() {
  document.getElementById('quantity').stepDown();
}
</script>

