<!DOCTYPE html>
<html>
  <head>
    <title>Shopify.in</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "super_admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-9XljoJifQPe+kvRlqnTMOrTnssZd7fZJfn1/C+3q23cjJl9X0y/9lNvD12wuNlE6N60rBY0r0KQ2HnbUW+17Qg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('favicon (1).ico') %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-dark">
      <div class="container-fluid " style="color:white;">
        <a class="navbar-brand"><%= link_to image_tag("ecom-website.jpg", width:40), home_user_path %>Shopify.in</a>
        <a class="navbar-toggler" type="a" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <% if current_user %>
                <% unless request.original_url.include?("admin") %>
                  <li class="nav-item">
                      <a class="nav-link"><%= link_to "My cart", cart_path, class: "btn btn-dark", style:"margin-top:-17px;"%></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"><%= link_to "My Orders", orders_path, class: "btn btn-dark", style:"margin-top:-17px;"%></a>
                  </li>
                  <% if current_user.super_admin? %>
                    <li class="nav-item">
                      <a class="nav-link"><%= link_to "Admin portal", admin_dashboard_path, class: "btn btn-dark", style:"margin-top:-17px;"%></a>
                    </li>
                  <% elsif current_user.store_admin? %>
                    <li class="nav-item">
                      <a class="nav-link"><%= link_to "Store Admin portal", admin_dashboard_path, class: "btn btn-dark", style:"margin-top:-17px;"%></a>
                    </li>
                  <% elsif current_user.staff? %>
                    <li class="nav-item">
                      <a class="nav-link"><%= link_to "Staff portal", admin_dashboard_path, class: "btn btn-dark", style:"margin-top:-17px;"%></a>
                    </li>
                  <% end %>
                <% else  %>
                  <li class="nav-item">
                    <a class="nav-link"><%= link_to "Login as User", "http://localhost:3000/home", class: "btn btn-dark", style:"margin-top:-17px;"%></a>
                  </li>
                <% end %>
              <% end %>
              <li class="nav-item">
                  <a class="nav-link" href="#"><%= link_to image_tag("user-icon.jpg", width:30, :class => "style_image" )%></a>
              </li>&nbsp;
              <ul class ="nav navbar-nav ms-auto">
                  <a href ="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"></a>
                  <li class="nav-item dropdown">
                      <div class="dropdown-menu dropdown-menu-end">
                        <% unless current_user %>
                          <a class="dropdown-item" style="color:white;"><%= link_to "Log in", new_user_session_path, class:"btn btn-light" %></a>
                          <a class="dropdown-item" style="color:white;"><%= link_to "Register", new_user_registration_path, class:"btn btn-light" %></a>
                        <% else %> 
                          <a class="dropdown-item" style="color:white;"><%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-light" %></a>
                          <a class="dropdown-item" style="color:white;"><%= link_to "My Addresses", user_addresses_path(current_user), class:"btn btn-light" %></a>
                          <a class="dropdown-item" style="color:white;"><%= button_to "Log out", destroy_user_session_path, :method => :delete, class:"btn btn-light" %></a>
                        <% end %>
                      </div>
                  </li>   
              </ul>	
            </ul>
          </div>
        </div>
    </nav>
    <div class="sidemenubar">
     <div class="split left">
      <div class="centered">
        <ul style="display: flex;flex-direction: column;">
        <% if current_user && current_user.is_admin? && request.original_url.include?("admin") %>
          <% if current_user.super_admin?%>
            <a style="color:white;"><%= link_to "Store admins/staffs", admin_users_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Orders",admin_orders_path, class:"btn btn-dark"%></a><br>
          <% end %>
          <a style="color:white;"><%= link_to "Stores",admin_stores_path, class:"btn btn-dark"%></a><br>
          <a style="color:white;"><%= link_to "Categories",admin_categories_path, class:"btn btn-dark"%></a><br>
          <a style="color:white;"><%= link_to "Products",admin_products_path, class:"btn btn-dark"%></a><br>
        <% else %>
          <a style="color:white;"><%= link_to "Home",home_user_path, class:"btn btn-dark"%></a><br>
          <a style="color:white;"><%= link_to "Record", record_path, class:"btn btn-dark"%></a><br>
          <a style="color:white;"><%= link_to "Stores",stores_path, class:"btn btn-dark"%></a><br>
          <a style="color:white;"><%= link_to "Products",all_products_path, class:"btn btn-dark"%></a><br>
          <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Women">Women</a><br>
          <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Men">Men</a><br>
          <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Accessories">Accessories</a><br>
        <% end %>
        <!-- <% if current_user %>
          <% if current_user.user? %>
            <a style="color:white;"><%= link_to "Home",home_user_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Stores",stores_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Explore",all_products_path, class:"btn btn-dark"%></a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Women">Women</a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Men">Men</a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Kids">Kids</a><br> 
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Accessories">Accessories</a><br>
          <% elsif current_user.super_admin? %>
            <a style="color:white;"><%= link_to "Store admins/staffs", admin_users_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Stores",admin_stores_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Categories",admin_categories_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Products",admin_products_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Orders",admin_products_path, class:"btn btn-dark"%></a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/home">Login as user</a><br>
          <% elsif current_user.store_admin? %>
            <a style="color:white;"><%= link_to "Go to Store",admin_stores_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Products",admin_products_path, class:"btn btn-dark"%></a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/home">Login as user</a><br>
          <% elsif current_user.staff? %>
            <a style="color:white;"><%= link_to "Stores",admin_stores_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Categories",admin_categories_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Products",admin_products_path, class:"btn btn-dark"%></a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/home">Login as user</a><br>
          <% end %>
        <% else %>
             <a style="color:white;"><%= link_to "Home",home_user_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Stores",stores_path, class:"btn btn-dark"%></a><br>
            <a style="color:white;"><%= link_to "Explore",all_products_path, class:"btn btn-dark"%></a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Women">Women</a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Men">Men</a><br>
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Kids">Kids</a><br> 
            <a class="btn btn-dark" style="color:white;" href="http://localhost:3000/categories/Accessories">Accessories</a><br>
        <% end%> -->
        </ul>
      </div>
     </div>
    </div>

   <div class="split right" style="margin-top:60px;padding-bottom:80px;">
    <% flash.each do |type, message| %>
      <div style="top: -5px;width:1270px;margin-left: 6%; position:absolute;z-index:10; text-align: center" id="flash" class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float:right"></button>
      </div>    
    <% end %>
    <%= yield %> 
  </div>
  
  </body>
</html>


























<style>
    .collapse navbar-collapse{
      float:right;
    }
    .navbar-brand{
      color:white
    }

    .nav-link{
      color: white
    }

    .nav-item:hover{
      color:green;
    }

    .nav-link:hover,.nav-link:focus {
      color: #15cf3a;
      font-weight:bold;
    }

    .style_image{
      border-radius: 50%;
      position: absolute;
      margin-top: -10px;
      margin-left: -5px;

    }
  
</style>